/* Bulma utilities and initial variables. */
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/initial-variables";
@import "~buefy/src/scss/utils/all";

$info: #3e8ed0;

// Set your colors
$primary: #485fc7;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$link: #485fc7;
$link-light: findLightColor($link);
$link-dark: findDarkColor($link);
$link-invert: findColorInvert($link);

$tabs-toggle-link-active-background-color: $blue;
$tabs-toggle-link-active-background-color: $blue;
$tabs-toggle-link-focus-active-background-color: $blue;
$tabs-toggle-link-focus-active-border-color: $blue;

$colors: (
    "info": (
        $info,
        $white,
    ),
    "primary": (
        $primary,
        $primary-invert,
        $primary-light,
        $primary-dark,
    ),
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.rate .rate-item.set-on .icon{
    color: $dark;
}